@using Xis.Models

<h1 class="mdc-typography mdc-typography--headline5 title">@SearchResult.ServiceName</h1>

@foreach (var issue in @SearchResult.Issues)
{
    <IssueComponent Issue="@issue"/>}

@code {

    [Parameter]
    public SearchResult SearchResult { get; set; }

}
