@using Xis.Models

<h3>@SearchResult.ServiceName</h3>

@foreach (var issue in @SearchResult.Issues)
{
    <IssueComponent Issue="@issue"/>}

@code {

    [Parameter]
    public SearchResult SearchResult { get; set; }

}
