@page "/"
@* ReSharper disable once RedundantUsingDirective *@
@using Xis.Components
@using Xis.Models
@inject HttpClient Http
@inject IJSRuntime Js

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<div class="mdc-layout-grid grid">
    <div class="mdc-layout-grid__inner">
        <label @ref="tokenTextField" class="mdc-text-field mdc-text-field--outlined mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
            <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label" id="token">Your Token</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
            </span>
            <input type="text" class="mdc-text-field__input" aria-labelledby="token">
        </label>
    </div>
    <div class="mdc-layout-grid__inner">
        <label @ref="queryTextField" class="mdc-text-field mdc-text-field--outlined mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
            <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label" id="query">Query</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
            </span>
            <input type="text" class="mdc-text-field__input" aria-labelledby="query">
        </label>
    </div>
</div>

@if (searchResults == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    @foreach (var result in searchResults)
    {
        <SearchResultComponent SearchResult="@result"/>    }
}

@code {
    private SearchResult[] searchResults;
    private ElementReference tokenTextField;
    private ElementReference queryTextField;

    protected override async Task OnInitializedAsync()
    {
        searchResults = await Http.GetFromJsonAsync<SearchResult[]>("sample-data/search.json");
        await Js.InvokeVoidAsync("attachMDCTextField", tokenTextField);
        await Js.InvokeVoidAsync("attachMDCTextField", queryTextField);
    }

}
